body{
    background: #FAFAFA;
    margin: 0px;
}


nav{
    background: #FFFFFF;
    height: 3.3em;
    line-height: 3.3em;
    padding: 0 13.5em;
    border-bottom: 0.1px solid #DBDBDB;

}

.logo{
    text-decoration: none;

}


.logo>img{
        vertical-align: middle;
}


.search{
    background-color: #FAFAFA;
    margin-left: 19em;
    height: 1.9em;
    width: 15.5em;
    border: 1px solid #DBDBDB;
}

.search::placeholder{
    text-align: center;
}


.nav-links{
    float: right;
}

.nav-links>a{
    text-decoration: none;
    margin-left: 1.3em;
}

.nav-links i{
    transform: scale(1.3);
    color: #252525;
}

.container{
    padding: 0 15%;
}

.bio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 13em;
    padding: 3em 0 0 5em;
    border-bottom: 0.2 px solid #DBDBDB;
}

.profile-photo{
    background-color: #6F1E51;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.profile-photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #6F1E51;
}

.profile-info .username{
    font-size: 1.7em;
    color: #545454;

}

#button {
    background: #3498db;
    color: #fff;
    font-size: 1.1em;
    width: 6em;
    height: 2em;
    border: unset;
    margin-left: : 30px;
    margin-top: -60px;
    float: right;
    margin-right: 270px;
}

#button1 {
    background: #3498db;
    color: #fff;
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: unset;
    margin-left: : 30px;
    margin-top: -60px;
    float: right;
    margin-right: 225px;
}

#tick{
    margin-left: : 30px;
    margin-top: -53px;
    float: right;
    margin-right: 410px;
}

#biotext{
    margin-top: -130px;
    margin-left: 350px;
}

#posts{
    margin-top: -140px;
    margin-left: 350px;

}

#followers{
    margin-top: -35px;
    margin-left: 480px;

}

#following{
    margin-top: -35px;
    margin-left: 630px;

}


#row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .25em;
    row-gap:.25em;
    margin-bottom: 2em;
}

.item1{
    height: 25em;
    weight: 25em;
    margin-top: 120px;
}

.item2{
    height: 25em;
    weight: 25em;
    margin-top: 120px;
}
.item3{
    height: 25em;
    weight: 25em;
    margin-top: 120px;
}
.item4{
    height: 25em;
    weight: 25em;
    margin-top: -60px;
}
.item5{
    height: 25em;
    weight: 25em;
    margin-top: -60px;
}
.item6{
    height: 25em;
    weight: 25em;
    margin-top: -60px;
}
.item7{
    height: 25em;
    weight: 25em;
    margin-top: -60px;
}
.item8{
    height: 25em;
    weight: 25em;
    margin-top: -60px;
}

.item9{
    height: 25em;
    weight: 25em;
    margin-top: -60px;
}

.item>img{
    width: 100%;
    height: 100%;
}
